body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	//font-size: 62.5%;
	
}

#dialog p{

    font-size:16px;
	color:purple;

}
#dialog1 p{

    font-size:16px;
	color:purple;

}
#dialog2 p{

    font-size:16px;
	color:purple;

}
#dialog3 p{

    font-size:16px;
	color:purple;

}
#dialog4 p{

    font-size:16px;
	color:purple;

}
#dialog5 p{

    font-size:16px;
	color:purple;

}
#dialog6 p{

    font-size:16px;
	color:purple;

}
#dialog7 p{

    font-size:16px;
	color:purple;

}
#dialog8 p{

    font-size:16px;
	color:purple;

}
#dialog9 p{

    font-size:16px;
	color:purple;

}
#dialog11 p{

    font-size:16px;
	color:purple;

}
#dialog12 p{

    font-size:16px;
	color:purple;

}
#dialog13 p{

    font-size:16px;
	color:purple;

}

#dialog14 p{

    font-size:16px;
	color:purple;

}
#dialog15 p{

    font-size:16px;
	color:purple;

}
#dialog16 p{

    font-size:16px;
	color:purple;

}
#dialog17 p{

    font-size:16px;
	color:purple;

}
#dialog18 p{

    font-size:16px;
	color:purple;

}
#dialog19 p{

    font-size:16px;
	color:purple;

}
#dialog20 p{

    font-size:16px;
	color:purple;

}
#dialog21 p{

    font-size:16px;
	color:purple;

}

#dialog{

    background:url("../images/news1.jpg");

}
#dialog1{

    background:url("../images/news1.jpg");

}
#dialog2{

    background:url("../images/news1.jpg");

}
#dialog3{

    background:url("../images/news1.jpg");

}
#dialog4{

    background:url("../images/news1.jpg");

}
#dialog5{

    background:url("../images/news1.jpg");

}
#dialog6{

    background:url("../images/news1.jpg");

}
#dialog7{

    background:url("../images/news1.jpg");

}
#dialog8{

    background:url("../images/news1.jpg");

}
#dialog9{

    background:url("../images/news1.jpg");

}
#dialog11{

    background:url("../images/news1.jpg");

}
#dialog12{

    background:url("../images/news1.jpg");

}
#dialog13{

    background:url("../images/news1.jpg");

}
#dialog14{

    background:url("../images/news1.jpg");

}
#dialog15{

    background:url("../images/news1.jpg");

}
#dialog16{

    background:url("../images/news1.jpg");

}
#dialog17{

    background:url("../images/news1.jpg");

}
#dialog18{

    background:url("../images/news1.jpg");

}
#dialog19{

    background:url("../images/news1.jpg");

}
#dialog20{

    background:url("../images/news1.jpg");

}
#dialog21{

    background:url("../images/news1.jpg");

}